include LICENSE
include README
include README.md
include requirements.txt
recursive-include tests *
recursive-include trapdoor/handlebars *
recursive-include trapdoor/static *
recursive-include trapdoor/templates *
recursive-include trapperkeeper/templates *
