{{#ifEmpty varbinds}}
    No Variable Bindings...
{{else}}
        {{#each varbinds}}
            <div class="row">
                <div class="col-sm-5"><h5 class="pull-right">{{mibFormat this.name}}</h5></div>
                <div class="col-sm-5"><h5>{{this.pretty_value}}</h5></div>
            </div>
        {{/each}}
{{/ifEmpty}}
